<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>
                <img src="../../../assets/images/download.png" class="dash-image" />
            </h3>
        </div>

        <ul class="list-unstyled components">
            <p>
                <span><br /> <small [routerLink]="['/dashboard/edit']">{{productService.getCurrentUser()}}</small></span>
            </p>

            <li class="active"><a [routerLink]="['/dashboard/products']"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
            </li>
            <li><a [routerLink]="['/dashboard/product']"> <i class="fa fa-plus"></i>&nbsp;&nbsp;New Product
                </a>
            </li>

        </ul>
    </nav>


    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-yellow bg-yellow" style="background: rgb(233, 199, 46);">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" (click)="logout()"><i
                                    class="fa fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <router-outlet></router-outlet>
        