<div class="panel panel-default" id="defaultForm">
    <div class="panel panel-body pt-4 pb-4">
        <div class="col-md-8" id="wizardForm">

            <form #registerForm=ngForm (ngSubmit)="updateProduct(registerForm)">
                <div class="row pl-3">
                    <div id="periodfrom" class="form-group col-md-6 d-block">
                        <label for="exampleInputVital">S.K.U</label> <input type="text" required
                            class="form-control form-control-sm " id="sku"
                            name="sku" [(ngModel)]="product.sku"/>
                    </div>
                    <div id="periodfrom" class="form-group col-md-6 d-block">
                        <label for="exampleInputVital">U.P.C</label> <input type="text" required
                            class="form-control form-control-sm date-picker" id="upc"
                            name="upc" [(ngModel)]="product.upc"/>
                    </div>
                </div>
                <div class="row pl-3">
                    <div id="periodfrom" class="form-group col-md-6 d-block">
                        <label for="exampleInputVital">Product Name</label> <input type="text" required
                            class="form-control form-control-sm date-picker" id="pname"
                            name="pname" [(ngModel)]="product.pname"/>
                    </div>
                    <div id="periodfrom" class="form-group col-md-6 d-block">
                        <label for="exampleInputVital">Tax Code</label> <input type="text" required
                            class="form-control form-control-sm date-picker" id="taxcode"
                            name="taxcode" [(ngModel)]="product.taxcode"/>
                    </div>
                </div>
                <h6 style="color: green;">{{successMessage}}</h6>
                <h6 style="color: red;">{{errorMessage}}</h6>
               
                <div class="text-center pt-5">
                    <button class="btn btn-success" [disabled]="!registerForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>