body{
    background: #f3f3f3;
    font-family: Times New Roman;
}
.fa-user{
    position: absolute;
    color: black;
    opacity: 0.5;
    top: 37%;
    left: 87%;
}
.fa-lock{
    position: absolute;
    color: black;
    opacity: 0.5;
    top: 49%;
    left: 87%;
}
.img-responsive{
    height: 100px;
    width: 200px;
}
#defaultForm{
    background: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
#default{
    width: 70%;
    background: white;
    position: absolute;
    top: 12%;
    left: 14%;
    box-shadow: 0 15px 15px 10px rgb(182, 179, 179);
}
.img-logo{
    height: 300px;
    border-radius: 100px;
}
.text-sm{
    font-size: 13px;
}
#loginForm{
    margin-left: 180px;
}
#remember-me{
    font-size: 14px;
    margin-left: 1px;
}
#remember-mes{
    font-size: 19px;
}

.dash-image{
    height: 100px;
    width: 200px;
    border-radius: 100px;
}
#periodfrom{
    display: flex;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    font-family: Times New Roman;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.ml-auto{
    list-style: none;
}

.ml-auto input{
    width: 300px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 30px;
    text-indent: 20px;
}

#panel-info{
    background: rgb(231, 239, 241);
    border-radius: 5px;
}

.dash-box label{
    font-weight: bold;
}
.panel-heading{
    background: rgb(35, 36, 36);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-heading h6{
    text-transform: uppercase;
    color: white;
}
.panel-footer button{
    border-radius: 10px;
    border: none;
    width: 70px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#wizardForm{
    left: 15%;
    font-family: Times new roman;
}
#wizardForm input{
    border-radius: 0px;
}

.file-field{
    margin-left: 4px;
}
#file-path1 {
    height: 1rem;
}
#file-path1 .file-path {
    position :absolute;
    top: 50%;
    height: 2rem; 
    border: none;
    border-bottom: 1px solid gray;
    width: 160px;
}
#file-path2 {
    height: 1rem;
}
#file-path2 .file-path {
    position :absolute;
    top: 20%;
    height: 2rem; 
    border: none;
    border-bottom: 1px solid gray;
    width: 160px;
}

.btn-close{
	background: red;
	height: 30px;
	border-radius: 100%;
}

@media(max-width: 848px){
      #default{
        width: 80%;
        background: white;
        position: absolute;
        top: 20%;
        left: 10%;
    }
    .img-logo{
        height: 250px;
        border-radius: 100px;
        margin-top: 40px;
    }
    .img-responsive{
        height: 100px;
        width: 150px;
    }
    #loginForm{
        margin-left: 120px;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

@media(max-width: 760px){
    body{
        background: white;
    }
    #loginForm{
        margin-left: 0px;
    }
    .img-responsive{
        display: none;
    }
    .img-logo{
        width: 100%;
        margin-top: 0px;
    }
    #default{
        width: 100%;
        background: white;
        position: relative;
        left: 0;
        box-shadow:none;
    }
    .fa-user{
	    position: absolute;
	    color: black;
	    opacity: 0.5;
	    top: 20%;
	    left: 87%;
	}
	.fa-lock{
	    position: absolute;
	    color: black;
	    opacity: 0.5;
	    top: 35%;
	    left: 87%;
	}
    #wizardForm{
        left: 0;
    }
    #file-path1 .file-path {
        position :absolute;
        top: 62%;
        width: 130px;
    }
    #file-path2 .file-path {
        position :absolute;
        top: 45%;
        width: 130px;
    }
}