<div class="page-title" style="font-family: Times new roman;">
    <h3 class="text-primary">MOBICASH</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a th:href="@{/retained-interest}">Home</a></li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
            <li class="active">All Products</li>
            <ul class="ml-auto">
                <li><input type="search" placeholder="Search..." [(ngModel)]="searchText"></li>
            </ul>
        </ol>
    </div>
</div>
<div class="panel panel-default" id="defaultForm">
    <div class="panel panel-body p-4">
        <button class="btn-primary mb-4" (click)="downloadFile()">download Report</button>
        <div class="row">
            <tr *ngFor="let product of products | filter:searchText">
                <div class="col-12 mb-4" style="width: 300px;">
                    <div class="panel" id="panel-info">
                        <div class="panel-heading p-2">
                            <h6>{{product.pname}}</h6>
                        </div>
                        <div class="panel-body row p-2">
                            <div class="well dash-box ml-4 mr-4">
                                <label for="task-id">Product ID</label> : {{product.id}} <br />
                                <label for="task-id">SKU</label> : {{product.sku}} <br />
                                <label for="task-id">UPC</label> : {{product.upc}} <br />
                                <label for="task-id">Taxcode</label> : {{product.taxcode}}
                            </div>
                            <div class="img">
                                <img class="img-responsive" style="width: 100px; height: 115px;" [src]="'http://localhost:8089/image/'+product.id+'.png'" />
                            </div>
                        </div>
                        <div class="panel-footer d-flex pl-2 pb-2">
                            <button class="btn-danger"
                                (click)="deleteProduct(product)">delete</button>&nbsp;&nbsp;&nbsp;
                            <button class="btn-success"
                                [routerLink]="['/dashboard/update-sku',product.upc]">edit</button>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
    </div>
</div>