<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">Login Here</div>
        <div class="card-body">
            <form #loginForm=ngForm (ngSubmit)="onLogin(loginForm)">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" class="form-control" placeholder="Username" [(ngModel)]="credentials.username" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="credentials.password" required>
                </div>
                <button type="submit" class="btn btn-primary mr-3" [disabled]="!loginForm.valid">Submit</button>
                <button type="button" class="btn btn-primary" (click)="sinUp()">Sin up</button>
              </form>
        </div>
    </div>
</div>