<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">Sinup</div>
        <div class="card-body">
            <form #registerForm=ngForm (ngSubmit)="onSubmit(registerForm)">
                <div class="form-group">
                    <label for="username">FirstName</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" placeholder="firstname"
                        [(ngModel)]="member.firstname" required>
                </div>
                <div class="form-group">
                    <label for="username">LastName</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" placeholder="lastname"
                        [(ngModel)]="member.lastname" required>
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="email"
                        [(ngModel)]="member.email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="password"
                        [(ngModel)]="member.password" required>
                </div>
                <div class="form-group">
                    <label for="password">Re-type Password</label>
                    <input type="retypePassword" name="retypePassword" class="form-control" id="retypePassword" placeholder="retypePassword"
                        [(ngModel)]="retypePassword" required>
                </div>
                <h6 style="color: green;">{{successMessage}}</h6>
                <h6 style="color: red;">{{errorMessage}}</h6>
                <button type="submit" class="btn btn-primary mr-3" [disabled]="!registerForm.valid">Submit</button>
                <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>